<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>MLCompiler</string>
	<key>BuildVersion</key>
	<string>25240</string>
	<key>CFBundleShortVersionString</key>
	<string>3404.3.1</string>
	<key>CFBundleVersion</key>
	<string>3404.3.1</string>
	<key>ProjectName</key>
	<string>MLCompiler_exclavekit</string>
	<key>SourceVersion</key>
	<string>3404003001000000</string>
</dict>
</plist>
