<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>AudioDSPManager</string>
	<key>BuildVersion</key>
	<string>1574</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>ProjectName</key>
	<string>AudioDSPManager_exclavekit</string>
	<key>SourceVersion</key>
	<string>206511001000000</string>
</dict>
</plist>
